<h2>Restaurar Contraseña</h2>
<h3>Se le enviara un correo con un link para que pueda restaurar la Contraseña</h3>

<form action="/api/sessions/firstrestorepass" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <button type="submit">Enviar Correo</button>
</form>
